<!DOCTYPE html>
<html>
    <head>
        <title>High-Charts Line Graph</title>

            <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="robots" content="noindex,nofollow" />

            <!-- Material Kit CSS -->
        <link href="/stylesheets/material-dashboard.css" rel="stylesheet"/>
    </head>

    <body>
        <div class="content">
                <!-- your content here -->
            <div class="container text-center" >
                <h3 class="text-gray">High-Charts Line Graph</h3>
                <div id="chart-indicator" class="mb-3"></div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/js/themes/gray.js"></script>

        <script src="/javascripts/chart-indicator.js"></script>
        <script>chartIndicator()</script>

    </body>
</html>
